{%- macro formSelect(name, label, choices) -%}
  {# check for a fields property on any of the choices, and add class if one exists #}
  {% set selectFields = 'apos-fieldset-select-show-fields' if aposContainsProperty(choices, 'showFields') else '' %}
  <fieldset class="apos-forms-field apos-fieldset apos-fieldset-selectize apos-fieldset-select apos-fieldset-{{ name | css }}{{ selectFields }}" data-name="{{ name }}">
    <label class='apos-forms-label'>{{ item.label | e }}</label>
      <div class="apos-select-wrapper apos-inline-input">
      {{ formSelectStandalone(name, choices) }}
    </div>
  </fieldset>
{%- endmacro -%}

{# Often useful in a custom fieldset with other controls #}
{%- macro formSelectStandalone(name, choices, _attrs = {}) -%}
  <select name="{{ name | e }}"
    {% for key, val in _attrs %}
      {{ key }}="{{ val | e }}"
    {% endfor %}
    data-selectize
  >
    {% for choice in choices %}
      <option value="{{ choice.value | e }}" label="{{ choice.value | e }}"
      {% if choice.showFields -%}
       data-extra='{ "showFields": "{{ choice.showFields | join(',') }}" }'
      {%- endif %}
      >{{ choice.value | e }}</option>
    {% endfor %}
  </select>
{%- endmacro -%}


{{ formSelect(item.label, item.label, item.choices, {limitText: limitText}) }}

{# TODO get this javascript out of here
  Selectize not firing after singleton added to form snippet

<script>
  $selectFields = $('.apos-fieldset-select');
  $selectFields.find('select').selectize();
</script>
#}