{% extends "baseWidgetEditor.html" %}
{% include "formMacros.html" %}

{% block modalClass %}
  {{ super() }} {{widgetEditorClass}} apos-ui-modal-no-sidebar
{% endblock%}

{% block modalLabel %}
  {{ __('Display %s', pluralLabel ) }}
{% endblock %}

{% block modalInstructions %}
<p>{{ __('Start typing the title of a form, then click on the suggestions that appear to insert them.') }}</p>
{% endblock %}

{% block formBody %}

<fieldset class="apos-active apos-fieldset apos-fieldset-text apos-fieldset-inset apos-fieldset-by apos-fieldset-no-margin" data-by="id">
  <label class="apos-wide-label">{{ __('Choose form') }}</label>
  {{ formSelective('ids', __('Title'), { inline: true, placeholder: __('Type a form name here') }) }}
</fieldset>

{% endblock %}
