{# The form insertion widget. This is a snippet subclass widget, so #}
{# it loops over an array, but there will in reality be only one form #}
{# per widget. -Tom #}

{% for form in item._snippets %}
  <h4 class='apos-forms-title'>{{ form.title | e }}</h4>
  <form class="apos-forms-form" method="POST" action="/apos-forms/submit/{{ form._id | e }}">
    {{ aposArea(form, 'body', { edit: false }) }}
    <div class="apos-forms-pager" data-forms-pager></div>
    <div class="apos-forms-arrows" data-forms-arrows>
      <span class="apos-forms-arrow" data-forms-prev>Previous</span>
      <span class="apos-forms-arrow" data-forms-next>Next</span>
    </div>
    <input class="apos-forms-submit" type="submit" name="submit" value="{{ (form.submitLabel or __('Submit Form')) | e }}" data-forms-submit/>

  </form>
{% endfor %}
